/***** TAGS *****/

@font-face {
    font-family: 'JelleeBold';
    src: url('Jellee-Roman.otf');
}

body, a, h1, h2, h3, h4, h5, h6 {
	color: #1b4d68;
	font-family: 'JelleeBold';
	font-weight: normal;
	font-style: normal;
}

a {
	text-decoration-style: dotted;
}

a:hover {
	color: #ea316e;
	text-decoration: underline;
	text-decoration-style: solid;
}

iframe {
	height: 30vw;
	width: 40vw;
}

#jogos iframe {
	height: 20vw;
	width: 30vw;
} 

.links li{
	margin: 0;
}

hr {
	border-color: #fff;
	margin: 3px;
}

/***** CLASSES *****/

.br10 {
	border-radius: 10px;
}

.foto-perfil {
	background-color: #ffbfdc;
	border: 5px solid #ffbfdc;
	border-radius: 50%;
}

.menu {
	background: #27aae1;
	color: #e0f4fc;
}

.menu:hover {
	background: #1b4d68;
	color: #e0f4fc;
	transition: all ease-in-out 1s;
}

.pre-lista {
	margin-bottom: 0.75rem;
}

.td_none {
	text-decoration: none;
}

.td_none:hover {
	text-decoration: underline;
}

.titulo {
	text-transform: uppercase;
}

/***** IDs *****/

#topo, #love, #nos, #info {
	min-height: 100vh;
}

#topo {
	background: #e0f4fc;
	background-image: linear-gradient(RGBA(224,244,252,1),RGBA(224,244,252,0.2)), url('../img/love.jpg');
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
}

#love {
	background: #e891c1;
	background-image: linear-gradient(#e891c1, #e891c1 90%, #ffbfdc);
	color: white;
}

#love .box {
	background: RGBA(255,255,255,0.75);
}

#love .box, #love h3, #love h4 {
	color: #e891c1;
}

#love h2, #nos h4, #nos ul, #info p, #info h4, #info a, #nos p {
	color: #fff;
}

#nos {
	background: #ffbfdc;
	background-image: linear-gradient(#ffbfdc, #ffbfdc 80%, #dbadd3);
}

#nos .box {
	background: RGBA(231, 74, 153, 0.4);
}

#nos h2 {
	color: #e74a99;
}

#info {
	background: #a0d1f3;
	background-image: linear-gradient(#a0d1f3, #daf1fb);
	color: #27aae1;
}

#info a:hover {
	color: #1b4d68;
}

#info .box {
	background: #27aae1;
}

#rodape {
	bottom: 0;
	padding: 0.75rem;
}
